div.blur ~ .parent > .child > .paragraph {
  color: #ff9000;
}

.secondparent + p {
  color: royalblue;
}

[data='value'] {
  color: red;
}

/* ::before */
[data]::after {
  content: ' - Eu vim pelo CSS (::after)';
  color: #ff9000;
}

[data]::first-letter {
  color: aqua;
}

.class1.class2 > .otherclass {
  background: salmon;
}

.irmao1 ~ .irmao2 > .filho {
  background: #ff9000;
  width: 100px;
  height: 100px;
}
