body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.d-none {
  display: none;
}

.container {
  padding: 0 150px;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.text-center {
  text-align: center;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33%;
}

.col-3 {
  width: 25%;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

div::after {
  content: '|';
  font-size: 30px;
  color: #fff;
}
@media (min-width: 992px) {
  .col-lg-12 {
    background: red !important;
    width: 100% !important;
    color: #fff;
    text-align: right;
  }

  .col-lg-6 {
    background: red !important;
    width: 50% !important;
    color: #fff;
    text-align: right;
  }

  .col-lg-4 {
    background: red !important;
    width: 33% !important;
    color: #fff;
    text-align: right;
  }

  .col-lg-3 {
    background: red !important;
    width: 25% !important;
    color: #fff;
    text-align: right;
  }

  .col-lg-2 {
    background: red !important;
    width: 16.66% !important;
    color: #fff;
    text-align: right;
  }

  .col-lg-1 {
    background: red !important;
    width: 8.33% !important;
    color: #fff;
    text-align: right;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    background: chocolate;
    color: #fff;
    width: 100%;
  }

  .col-md-6 {
    background: chocolate;
    color: #fff;
    width: 50%;
  }

  .col-md-4 {
    background: chocolate;
    color: #fff;
    width: 33%;
  }

  .col-md-3 {
    background: chocolate;
    color: #fff;
    width: 25%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-12 {
    background: darkblue;
    width: 100%;
    color: #fff;
  }

  .col-sm-6 {
    background: darkblue;
    width: 50%;
    color: #fff;
  }

  .col-sm-4 {
    background: darkblue;
    width: 33%;
    color: #fff;
  }

  .col-sm-3 {
    background: darkblue;
    width: 25%;
    color: #fff;
  }
}

@media (max-width: 576px) {
  .col-sm-12 {
    background: yellow;
    width: 100%;
    color: #000;
  }
}
