* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #252422;
   color: #fffcf2;
   font-family: Arial, Helvetica, sans-serif;
}

input:focus {
   outline: none;
}

.container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

.tasks {
   padding: 47px;
   border-radius: 10px;
   background: #403d3973;
   box-shadow: 0px -1px 16px #0a0a0a;
   width: 700px;
}

#tasks {
   list-style: none;
   max-height: 400px;
   overflow: auto;
}

.form-group {
   margin-bottom: 20px;
}

.mb-20 {
   margin-bottom: 20px;
}

.form-group > label {
   color: #ff9000;
}

.form-group > div {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.plus {
   display: flex;
   background-color: #ff9000bd;
   width: 50px;
   height: 49px;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   border: none;
   color: #fffcf2;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   cursor: pointer;
}

.plus:disabled,
.plus[disabled] {
   border: none;
   background-color: #3a3a34;
   color: #666666;
   cursor: default;
}

.form-group input {
   background-color: #252422 !important;
   border: none;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   color: #fffcf2;
   padding: 17px;
   flex: 1;
   border-right: 1px solid #666;
}

ul > li {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

ul > li > input {
   -webkit-appearance: none;
   background-color: #252422;
   border: none;
   border-radius: 3px;
   padding: 10px;
   margin-right: 10px;
   display: inline-block;
   position: relative;
}

ul > li > input:checked:after {
   content: "\2714";
   font-size: 14px;
   position: absolute;
   top: 0;
   left: 5;
   color: #eb5e28;
}

.task-item {
   padding: 10px;
   border-radius: 4px;
   background-color: #535353;
   display: flex;
   justify-content: space-between;
}

.text-task {
   flex: 1;
}
.remove-task {
   width: 40px;
   height: 40px;
   background: #252522;
   color: #ff9000;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

input.text-task {
   background: #535353;
   color: #fffcf2;
}

input.input-enabled {
   background: #3a3a34;
}

.hidden {
   display: none;
}

.fa-times-circle {
   padding: 10px;
   background: #ad5454;
   border-radius: 4px;
   color: #fffcf2;
   cursor: pointer;
}

.fa-check {
   padding: 10px;
   background: #278f27;
   border-radius: 4px;
   color: #fffcf2;
   cursor: pointer;
   margin-left: 10px;
}

.actions {
   display: flex;
}
