:root {
  --white: #f1f8ee;
}

body {
  -webkit-print-color-adjust: exact !important;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
  background: #393939;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4e4e4e;
  height: 50px;
  padding: 0 10%;
  /* padding: 0 10% 0 10%;

  padding-top: 0;
  padding-bottom: 0;
  padding-right: 10%;
  padding-left: 10%; */

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 10px;
}

.menu li a {
  text-decoration: none;
  color: var(--white);
}

.menu li a:hover {
  color: #d3a042;
}

.menu-mobile {
  display: none;
}

.line {
  height: 2px;
  width: 30px;
  background: var(--white);
}

.line:not(:first-child) {
  margin-top: 5px;
}

.card {
  background: #403d39;
  width: 50%;
  margin: 100px auto;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  border-radius: 10px;
}

.card-header img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-info {
  padding: 20px;
  text-align: justify;
}

#check {
  display: none;
}

.close-menu {
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  display: none;
}

nav {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

/* .tony {
  display: none;
  visibility: hidden; 
} */

@media print {
  .card {
    background: #ff9000;
  }

  .menu {
    display: none;
  }
}

/* Quando tela e largura menor que 1200px, aplica o css */
@media screen and (max-width: 1200px) {
  .card {
    width: 70%;
    /* background: red; */
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: 80%;
  }

  .menu > nav {
    opacity: 0;
    visibility: hidden;
  }

  .menu-mobile {
    display: block;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  #check:checked ~ nav {
    position: absolute;
    right: 40px;
    left: 0;
    top: 50px;
    background: #403d39;
    width: 100%;
    visibility: visible;
    opacity: 1;
  }

  #check:checked ~ nav > ul {
    flex-direction: column;
    margin-bottom: 10px;
  }

  #check:checked ~ nav > ul > li {
    padding: 10px 0;
  }

  #check:checked ~ nav > ul > li:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  #check:checked ~ .close-menu {
    display: block;
  }

  #check:checked ~ .menu-mobile {
    display: none;
  }
}

/* Quando for tela e a largura maior que 1200px, aplica o css */
@media screen and (min-width: 700) {
  /* .card {
    background: #ff9000;
  } */
}
