body {
    background-color: #312E38;
    color: #F4EDE8;
}
h1 {
    margin-top: 10vh;
}
.df {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #3E3B47;
    padding: 20px;
    box-shadow: 0px 1px 11px #1b1b1b;
    border-radius: 20px;
}

.my-input {
    height: 56px;
    background: #232129 !important;
    border-radius: 10px;
    border: none;
    display: block;
    width: 100%;
    padding-left: 10px;
    color: #F4EDE8;
}

.my-input::placeholder {
    color:#666360;
}

.btn-theme {
    width: 100%;
    height: 56px;
    background: #FF9000;
    color: #312E38;
    border-radius: 10px;
    border: none;
}

.btn-theme:hover{
    color: white;
}

a {
    color: #F4EDE8;
    text-decoration: none;
    transition: font-size 0.2s;
}

a:hover {
    color: #b1b1b1;
    text-decoration: none;
}

textarea:focus, input:focus{
    outline: none;
}
.text_area{
    height: 150px;
    min-height: 100px !important;
}
.p_senha{
    font-size: 14px;
    margin-left: 5px;
    color: #b1b1b1;
}

.admin-grid{
    margin: 0 auto;
}
.card-admin {
    background-color: #3E3B47;
    padding: 40px 30px;
    box-shadow: 0px 1px 11px #1b1b1b;
    
}

table tr th{
    background-color: #323036;
    padding:15px 15px;
}

table tr{
    border: 2px solid #312E38
}
.scroll{  
    overflow-y: scroll;
    height: 500px;
}

table tr td{ 
    padding: 15px 15px;
}

table tr:nth-child(odd){ 
    background-color: #514e58;
    
}

.admin-grid h1{
    text-align: center ;
}

.texto{
    white-space: nowrap; 
    max-width: 150px; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-sair{
    background-color: #3E3B47;
    padding: 20px;
     box-shadow: 0px 1px 2px #1b1b1b; 
    /* border-radius: 20px; */
}
